<!Doctype html>
<html lang="en">
<head>
    <script>
        const ROOM_ID = "{{$roomId}}";
    </script>
    <script src="/socket.io/socket.io"></script>
    <script src="/script.js"></script>
    <title>Zooooon</title>
    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-gap: 10px;
            justify-content: center;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div id="video-grid">
    </div>
</body>
</html>
